@font-face {
  font-family: 'CinzelDecorative';
  src: url('./assets/fonts/CinzelDecorative-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'CinzelDecorative';
  src: url('./assets/fonts/CinzelDecorative-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'CinzelDecorative';
  src: url('./assets/fonts/CinzelDecorative-Black.ttf') format('truetype');
  font-weight: 900;
}


body {
  background: url('./assets/landing.gif') no-repeat center center fixed;
  background-size: cover;
  font-family: 'CinzelDecorative', sans-serif;
}


.card {
  padding: 2em;
}

.character-card {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

body {
  background: url('./assets/landing.gif') no-repeat center center fixed;
  background-size: cover;
  font-family: 'CinzelDecorative', sans-serif; 
}

.uniform-img {
  height: 200px;
  object-fit: contain;
  width: 100%;
}

.custom-dark {
  background-color: #000015;
}
